@{
    ViewData["Title"] = "Home Page";
}


<body>

    <div id="wrap">
        <div class="box">
            <div class="innerContent">
                Absolutely-positioned content isn't counted in the parent's height!
            </div>
        </div>
        <div class="box">
            <div class="innerContent">
                Absolutely-positioned content isn't counted in the parent's height!
            </div>
        </div>
        <div class="box">
            <div class="innerContent">
                Absolutely-positioned content isn't counted in the parent's height!
            </div>
        </div>
        <div class="box">
            <div class="innerContent">
                Absolutely-positioned content isn't counted in the parent's height!
            </div>
        </div>
        <div class="box">
            <div class="innerContent">
                Absolutely-positioned content isn't counted in the parent's height!
            </div>
        </div>
        <div class="box">
            <div class="innerContent">
                Absolutely-positioned content isn't counted in the parent's height!
            </div>
        </div>
        <div class="box">
            <div class="innerContent">
                Absolutely-positioned content isn't counted in the parent's height!
            </div>
        </div>
        <div class="box">
            <div class="innerContent">
                Absolutely-positioned content isn't counted in the parent's height!
            </div>
        </div>
        <div class="box">
            <div class="innerContent">
                Absolutely-positioned content isn't counted in the parent's height!
            </div>
        </div>
        <div class="box">
            <div class="innerContent">
                Absolutely-positioned content isn't counted in the parent's height!
            </div>
        </div>
    </div>

</body>

